<%- include ../publicView/res/style %>
<div class="z-container">
	<!--
    	时间：2016-08-04
    	描述：头部
    -->
	<%- include ../publicView/headAndTail/header %>
	<!--
    	
    	时间：2016-08-04
    	描述：菜单和内容
    -->	
    <div class="container z-clearFix z-centerInfo-box z-body">
    	
    	
    	<div class="row">
    	
        	<!--
            	
            	时间：2016-08-05
            	描述：侧栏
            -->
    		<%- include ../publicView/sidebar/sidebar %>
		
    		<!--
            	
            	时间：2016-08-05
            	描述：内容区块
            -->
    		<div class="z-rightContainer-box">
				
					
    			<!--
                	
                	时间：2016-08-12
                	描述：头部分类
                -->
    			<div class="z-righCon-tittle">
        				
        				<div class="z-mesageAndNum-box">
        					
        					<ul class="z-innerInfo-box">
        						
					            <li>
						            
						            <a href="">
						                
						                <span class="tap_inner">
						                	
						                    <i class="icon_index_message"></i>
						                    <em class="number">0</em>
						                    <strong>新消息</strong>
						                    
						                </span>
						                
						            </a>
						            
					            </li>
        						
        					</ul>
        					
        				</div>
        				
        				<div class="z-mesageAndNum-box">
        					
        					<ul class="z-innerInfo-box">
        						
					            <li>
						            
						            <a href="">
						                
						                <span class="tap_inner">
						                	
						                    <i class="index_active_ico"></i>
						                    <em class="number">0</em>
						                    <strong>我的活动</strong>
						                    
						                </span>
						                
						            </a>
						            
					            </li>
        						
        					</ul>
        					
        				</div>
        				
        				<div class="z-mesageAndNum-box">
        					
        					<ul class="z-innerInfo-box">
        						
					            <li>
						            
						            <a href="">
						                
						                <span class="tap_inner">
						                	
						                    <i class="index_active_ico"></i>
						                    <em class="number">0</em>
						                    <strong>我的粉丝</strong>
						                    
						                </span>
						                
						            </a>
						            
					            </li>
        						
        					</ul>
        					
        				</div>
        				
        				<div class="z-mesageAndNum-box">
        					
        					<ul class="z-innerInfo-box">
        						
					            <li>
						            
						            <a href="">
						                
						                <span class="tap_inner">
						                	
						                    <i class="index_active_ico"></i>
						                    <em class="number">0</em>
						                    <strong>累计参与者</strong>
						                    
						                </span>
						                
						            </a>
						            
					            </li>
        						
        					</ul>
        					
        				</div>
        				
        			</div>
    			<!--
                	
                	时间：2016-08-13
                	描述：图文列表以及二维码
                -->
    			<div class="z-graphicList-box">
        				
        				
        				<div class="z-leftList-box" >
        					
        					<div class="z-homePageList-box">
	        					<!--
                                	
                                	时间：2016-08-12
                                	描述：公共的图文列表，包含标题
                                -->
	        					<div class="z-pubImaList-box">
	        						
	        						<h3 class="z-publicTittle-bar">
	        						
	        							<span>图文列表</span>
	        						
	        						</h3>
	        						
									<!--
	                                	
	                                	时间：2016-08-12
	                                	描述：图文列表内容
	                                -->
		        					<ul class="z-publicImgText-list z-clearFix">
		        						
		        						<li>
		        							
		        							<img src="/img/imgList_01.jpg" />
		        							
		        							<font>这是一个图文列表，这是一个公共的图文列表</font>
		        							
		        							<p>
		        								
		        								<b>编辑</b>
		        								<a href="">查看</a>
		        								
		        							</p>
		        							
		        						</li>
		        						
		        						
		        						
		        						<li>
		        							
		        							<img src="/img/imgList_01.jpg" />
		        							
		        							<font>这是一个图文列表，这是一个公共的图文列表</font>
		        							
		        							<p>
		        								
		        								<b>编辑</b>
		        								<a href="">查看</a>
		        								
		        							</p>
		        							
		        						</li>
		        						<li>
		        							
		        							<img src="/img/imgList_01.jpg" />
		        							
		        							<font>这是一个图文列表，这是一个公共的图文列表</font>
		        							
		        							<p>
		        								
		        								<b>编辑</b>
		        								<a href="">查看</a>
		        								
		        							</p>
		        							
		        						</li>
		        						<li>
		        							
		        							<img src="/img/imgList_01.jpg" />
		        							
		        							<font>这是一个图文列表，这是一个公共的图文列表</font>
		        							
		        							<p>
		        								
		        								<b>编辑</b>
		        								<a href="">查看</a>
		        								
		        							</p>
		        							
		        						</li>
		        						
		        					</ul>
	        						
	        					</div>
	        					
        					</div>
        					
        				</div>
        				
        				<div class="z-RightCode-box">
        					
        					<h3 class="z-publicTittle-bar">
        						
    							<span>扫一扫</span>
    						
    						</h3>
    						
    						<div class="z-rightCodeInfo">
    							
    							<img src="/img/codeImg.jpg" alt="" />
    							
    						</div>
    						
        				</div>
        				
        				
        			</div>
        			
    			<div class="z-homeCenterInfo-box">
        		
        			<!--
                    	
                    	时间：2016-08-13
                    	描述：首页的文章列表
                    -->
					<div class="z-homeTextList-box">
						
						<!--
                        	
                        	时间：2016-08-13
                        	描述：文章列表公共模块
                        -->
                        <div class="z-publicMenuList-box">
                        	
                        	<h3 class="z-publicTittle-bar">
                        		
                        		<span>文章列表</span>
                        	
                        	</h3>
                        	
                        	<ul class="z-textListInfo-box">
							
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
								<li>
									
									<a href="">
										
										<strong>公众平台图文分析新增视频数据分析</strong>
										
									</a>
									<span>2016-07-18</span>
									
								</li>
								
							</ul>
							
							<div class="z-publicGatPage-lab">
								
								<ul class="pagination">
								  <li><a href="#">&laquo;</a></li>
								  <li><a href="#">1</a></li>
								  <li><a href="#">2</a></li>
								  <li><a href="#">3</a></li>
								  <li><a href="#">4</a></li>
								  <li><a href="#">5</a></li>
								  <li><a href="#">&raquo;</a></li>
								</ul>
								
							</div>
                        	
                        </div>
						
					</div>		        			
    			
    			</div>
        		
    		</div>
    		
    	</div>	
    	
    </div>
	<!--
    	
    	时间：2016-08-13
    	描述：脚步
    -->
	<%- include ../publicView/headAndTail/footer %>
	
</div>
<!--
	时间：2017-02-21
	描述：资源文件引入
-->
<%- include ../publicView/res/script %>